﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}




/* Payment status css
-------------------------------------------------- */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.status {
    position: relative;
    height: 1em;
    line-height: 1em;
    padding: .5em;
    padding-left: 2em;
    transition: color 500ms;
}

    .status:before, .status:after {
        content: '';
        display: inline-block;
        position: absolute;
        transition: all 500ms;
    }

    .status.-pending {
        color: #666;
    }

        .status.-pending:before, .status.-pending:after {
            background: #888;
            animation-name: spin;
            animation-duration: 1000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .status.-pending:before {
            width: .25em;
            height: .25em;
            top: .5em;
            left: .875em;
            border-radius: .125em;
            transform-origin: 50% .5em;
        }

        .status.-pending:after {
            width: .25em;
            height: .25em;
            top: 1.25em;
            left: .875em;
            border-radius: .125em;
            transform-origin: 50% -.25em;
        }

    .status.-success {
        color: #368;
    }

        .status.-success:before, .status.-success:after {
            background: #6cf;
            border-radius: .125em;
        }

        .status.-success:before {
            width: .25em;
            height: 1em;
            top: .5em;
            left: .875em;
            transform-origin: 50% .875em;
            transform: translate(-.177em, -.11em) rotate(.125turn);
        }

        .status.-success:after {
            width: .25em;
            height: .5em;
            top: 1em;
            left: .875em;
            transform-origin: 50% .375em;
            transform: translate(-.177em, -.11em) rotate(-.125turn);
        }

    .status.-failure {
        color: #802;
    }

        .status.-failure:before, .status.-failure:after {
            background: #f04;
            border-radius: .125em;
        }

        .status.-failure:before {
            width: .25em;
            height: 1em;
            top: .5em;
            left: .875em;
            transform: rotate(.125turn);
        }

        .status.-failure:after {
            width: .25em;
            height: 1em;
            top: .5em;
            left: .875em;
            transform: rotate(-.125turn);
        }
